* {
	margin: 0;
	padding: 0;
}

/*navbar*/

nav.container {
	background-image: url(img/nav_cover.svg);
	background-repeat: no-repeat;
	background-size: 100% ;
	height: 100vh;
}


#pagename, .home, ul, footer {
	margin: auto;
	max-width: 79%;
}

nav ul {

	margin-bottom: 5%;
}


nav li {
	list-style-type: none;
	display: inline;		
}

li .logo {
	margin-top: 6%;
	padding-right: 30%;
	display: inline-block;
}

.top-nav {
	display: inline;
}

nav a {
	text-decoration: none;
	color: #fff;
}

.top-nav li {
	font-family: Roboto;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 101.19%;
    /* or 24px */
    letter-spacing: 0.055em;
    color: #FFFFFF;
    padding-left: 3%;
}


nav #pagename {
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 130.19%;
    /* or 62px */
	color: #FFFFFF;
	padding-bottom: 2%;
}


nav .home a {
	color: #F3684A;
	font-size: 1.3rem;
}




/* .main {
>>>>>>> efb36b2aafbaf3baed587afc750ebec4ffc20fda
	padding: 0 168px;
} */

.book-a-room {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;
}

.book-a-room-info {
	align-items: center;
	font: 2.125rem/147.19% roboto;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #F3684A;
	padding: 15% 11%;
}

#button-book-a-room {
	font-size: 1.5rem;
	text-align: center;
	color: #F3684A;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	text-decoration: none;
	margin-top: 20px;
	width: 65%;
	padding: 2%;
}

#button-book-a-room a {
	color: #F3684A;
	text-decoration: none;
}

/*footer*/

/* .footer {
	padding: 0 168px;
} */

.footer_container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	color: #7D7878;
}

.logo{
	height: 18%;
}

.footer_text {
	font: 14px/2 Time;

}

.navigation ul {
	list-style: none;
	font: 0.875rem/220% roboto;
}

.nav_wrap{
	/*margin-top: 10px;*/
}

.contact_us ul {
	list-style: none;
	font: 0.875rem/220% roboto;
}

.contact_wrap{
	/*margin-top: 10px;*/
}

#num{
	margin-top: 100px;
}

.news_letter{
	margin: 0;
}

.news_letter ul {
	list-style: none;
	font: 0.875rem/220% roboto;

}

.nav_head{
	font: 20.8px time;
	margin-left: 20px;
}

.news{
	margin-left: 40px;
}

#email{
	padding: 5%;
  	border-radius: 5px 0 0 5px;
  	background: #f8f8f8;
  	border: 0.5px solid #e4e4e4;
  	width: 100%;
}

#email{
	outline: none;
 	border: none;
}

#email::placeholder{
	color: #7d7878;
  	font-size: 0.765rem;
}

.email {
	display: flex;
}

#cursor {
	display: flex;
	align-items: center;
	background: #F3684A;
	border-radius: 0px 5px 5px 0px;
	padding: 3%;
}

.navigation a {
	text-decoration: none;
	color: #7D7878;
}

#copyright {
	color: #7D7878;
}


.socials{
	margin-top: 2%;
  	margin-bottom: 5%;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: #ff0000;
}

.fa-twitter-square {
  color: #55acee;
}

.fab {
	padding: 5px;
	font-size: 1.5rem;
}

#copyright {
	padding: 5%;
	text-align: center;
	font-size: 13px;
}

hr {
	margin: 50px 0 50px 0;
}