* {
	margin: 0;
	padding: 0;
}

/*navbar*/

.container {
	width: 100%;
	background-image: url(img/nav_cover.svg);
	background-size: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
}

ul {
	margin: auto;
	max-width: 79%;
}


li {
	list-style-type: none;
	display: inline;		
}

li .logo {
	margin-top: 6%;
	padding-right: 25%;
}

.top-nav {
	display: inline;
}

a {
	text-decoration: none;
	color: #fff;
}

.main {
	padding: 0 168px;
}

.book-a-room {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;
}

.book-a-room-info {
	align-items: center;
	font: 2.125rem/147.19% roboto;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #F3684A;
	padding: 15% 11%;
}

#button-book-a-room {
	font-size: 1.5rem;
	text-align: center;
	color: #F3684A;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	text-decoration: none;
	margin-top: 20px;
	width: 65%;
	padding: 2%;
}

#button-book-a-room a {
	color: #F3684A;
	text-decoration: none;
}

/*footer*/

.footer {
	padding: 0 168px;
}

.footer_container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	color: #7D7878;
}

.footer_text {
	font: 0.875rem/180% roboto;
}

.navigation ul {
	list-style: none;
	font: 0.875rem/220% roboto;
}

.contact_us ul {
	list-style: none;
	font: 0.875rem/220% roboto;
}

.news_letter ul {
	list-style: none;
	font: 0.875rem/220% roboto;
}

#email {
	background: #F8F8F8;
	border: 0.5px solid #E4E4E4;
	box-sizing: border-box;
	width: 300px;
	height: 50px;
	border-radius: 2px;
	padding: 12px;
}

.email {
	display: flex;
}

#cursor {
	display: flex;
	align-items: center;
	background: #F3684A;
	border-radius: 0px 5px 5px 0px;
	padding: 2%;
}

.navigation a {
	text-decoration: none;
	color: #7D7878;
}

#copyright {
	color: #7D7878;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-youtube {
	background: #FF0000;
	color: white;
}

.fab {
	padding: 5px;
	font-size: 30px;
	width: 35px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

#copyright {
	padding: 5%;
	text-align: center;
	font-size: 13px;
}

hr {
	margin: 50px 0 50px 0;
}